h1 {
  color: red;
}

h2 {
  color: yellow;
}

body {
     background: url("file:///Users/magdalenaw/Desktop/CfgCourse2018/Coffee_Website/Images/coffeeHeart2.png");
     background-size: cove;
     background-position: center;
   }
