.jumbotron {
  padding-top: 90px;
  height: 900px;
  margin-bottom: 0;
  background-image: url('../Images/coffee2.png');
  background-size: cover;

/*  this is what makes the image parallax */
  /* background-attachment: fixed; */

}

.jumbotron h1 {
  font-family: 'Sedgwick Ave', cursive;
  color: white;
  /* margin-bottom: 1em; */
  margin-right: 100px;
  font-size: 70px;
  line-height: 100px;
  margin-bottom: 1.5em;

}
.btn {
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px 10px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

blockquote {
  border-left: 0;
}

#mission {
  background-color: rgba(32, 35, 41, 0.9);
  color: #ddd;
  padding-bottom: 40px;
}
.jumbotron .form-group {
  line-height: 1em;
}

.jumbotron label {
  color: white;
}
.jumbotron img {
  margin-top: 50px;
}
h2 {
  margin-bottom: 1.5em;
  color: #382a24;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 36px;
}

h1 {
  font-family: 'Sedgwick Ave', cursive;
}

.navbar-inverse {
  background-color: rgba(32, 35, 41,0.8);
}

.form-inline input[name='email'] {
  width: 80%;
}


#social-buttons {
  margin-top: 50px;
}

.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color: white;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
  color: white;
}


body {
     background: url("file:///Users/magdalenaw/Desktop/CfgCourse2018/Coffee_Website/Images/coffeeHeart2.png");
     background-size: cove;
     background-position: center;
   }

   .row {
     padding-bottom: 65px;
     padding-top: 65px;

   }

   .lower-text {


   }
<<<<<<< HEAD
.more-space {
  padding-top: 15px;
}

.more-space2 {
  padding-top: 30px;
}

.footer {
  font-size: 17px;
}
.white {
  color: white;
}
.intro {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 17px;
}
=======

.nadia {
     font-family: 'Sedgwick Ave'; cursive;
     color: white;
     /* margin-bottom: 1em; */
     margin-right: 100px;
     font-size: 25px;
     line-height: 50px;

   }

.map {
  margin-bottom: 80px;
}

.button2 {
  color: white;
padding: 1em;
background: green;
text-decoration: none;
border: none;
border-radius: 10px;
font-size: 18px;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #fb3958;
    color: white;
}
